################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1. Git/FAKNO/.vs/FAKNO/v16
/1. Git/FAKNO/Debug
/1. Git/FAKNO/FAKNO/Debug
